[Unit]
Description=url-forwarder service
After=network.target mysqld.service

[Service]
Type=simple
Environment="LOG_PATH=/data/logs/url-forwarder"
Environment="SERVICE_LOG_FOLDER=/data/logs"

ExecStartPre=/usr/bin/bash -c 'if [ ! -d ${LOG_PATH} ]; then mkdir -p ${LOG_PATH}; fi; /bin/sleep 2'
ExecStart=/usr/local/java/jdk/bin/java \
  -server -Xms2g -Xmx2g -XX:+UseG1GC -verbose:gc \
  -XX:+HeapDumpOnOutOfMemoryError \
  -Duser.timezone=GMT+8 \
  -Xlog:gc*=info:file=/data/logs/url-forwarder/url-forwarder-gc.log::filesize=50M,filecount=4 \
  -XX:HeapDumpPath=/data/logs/url-forwarder \
  -jar /data/software/url-forwarder/url-forwarder-0.0.1-SNAPSHOT.jar \
  --spring.config.additional-location=/data/software/url-forwarder/application.yml
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target